* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.container {
  margin: 20px;
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.loginForm {
  width: 100%;
  max-width: 350px;
}
.loginForm__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}
.loginForm__content {
  margin-bottom: 15px;
}
.loginForm__label {
  display: inline-block;
  cursor: pointer;
}
.loginForm__text-input {
  background-color: rgba(128, 128, 128, 0.048);
  border-radius: 50px;
  border: none;
  border: 1px solid #a39fb8;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;
  padding: 15px 20px;
  outline: none;
  transition: all 0.25s ease;
}
.loginForm__text-input::placeholder {
  color: #a39fb8;
}
.loginForm__text-input:focus {
  background-color: white;
  border-color: black;
  transition: all 0.25s ease;
}
.loginForm__support {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.loginForm__support a {
  color: #5138ee;
}
.loginForm__support a:hover {
  color: #30218f;
}
.loginForm__checkbox-wrap {
  display: flex;
  align-items: center;
}
.loginForm__checkbox-wrap .checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #a39fb8;
  position: relative;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 10px;
}
.loginForm__checkbox-wrap .checkbox-input {
  display: none;
}
.loginForm__checkbox-wrap .checkbox-input:checked + .checkbox {
  transition: all 0.3s ease;
  border-color: #5138ee;
  background-color: #5138ee;
  color: white;
}
.loginForm__checkbox-wrap label:last-child {
  padding-left: 8px;
  cursor: pointer;
}
.loginForm__footer {
  margin-top: 30px;
}
.loginForm__button {
  width: 100%;
  background-color: #5138ee;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}
.loginForm__button:hover {
  background-color: #3a2aa1;
  transition: background-color 0.4s ease;
}

.aboutForm__title {
  font-size: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.aboutForm__checkbox-wrap {
  display: flex;
  justify-content: space-between;
}
.aboutForm__checkbox-wrap .checkbox {
  cursor: pointer;
  display: inline-block;
  border: 1.5px solid rgba(128, 128, 128, 0.8);
  border-radius: 4px;
  color: rgba(128, 128, 128, 0.8);
  text-align: center;
}
.aboutForm__checkbox-wrap .checkbox:last-child {
  margin-left: 20px;
}
.aboutForm__checkbox-wrap .checkbox-icon {
  display: inline-block;
  padding: 24px 0px 24px 40px;
}
.aboutForm__checkbox-wrap .checkbox-label {
  cursor: pointer;
  display: inline-block;
  padding: 24px 40px 24px 10px;
}
.aboutForm__checkbox-input {
  display: none;
}
.aboutForm__checkbox-input:checked + .checkbox {
  background-color: #f2f5ff;
  border-color: #3063ff;
  color: #3063ff;
}

.signUpForm {
  width: 100%;
  max-width: 350px;
}
.signUpForm__label {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 100px;
}
.signUpForm__contents .name-label {
  display: block;
  margin: 10px;
  font-size: 18px;
  color: gray;
}
.signUpForm__contents .name-input {
  position: relative;
}
.signUpForm__contents .name-input .name-input-text {
  width: 100%;
  padding: 20px 60px 20px 20px;
  border: none;
  outline: none;
  border: 1px solid rgba(128, 128, 128, 0.493);
  border-radius: 14px;
  font-size: 16px;
}
.signUpForm__contents .name-input .name-input-text::placeholder {
  color: rgba(128, 128, 128, 0.493);
}
.signUpForm__contents .name-input .name-input-text:focus {
  border-color: #2563ff;
  color: #2563ff;
  transition: all 0.3s ease;
  box-shadow: #2563ff28 0px 2px 6px;
}
.signUpForm__contents .name-input .name-input-text:focus + .name-check {
  transition: all 0.3s ease;
  color: #2563ff;
  background-color: #eff3f8;
}
.signUpForm__contents .name-input .name-check {
  position: absolute;
  top: 25%;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: #eff3f86c;
  color: white;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.customForm {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.customForm__title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
.customForm .radio-checkbox-label {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid rgba(128, 128, 128, 0.568);
  display: flex;
  align-items: center;
  justify-content: center;
}
.customForm .radio-checkbox-label .circle {
  border: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
}
.customForm #radio-checkbox {
  display: none;
}
.customForm #radio-checkbox:checked + .radio-checkbox-label {
  background-color: #5843e5;
  border-color: #5843e5;
  transition: all 0.25s ease;
}
.customForm .toggle-box #toggle-checkbox-input {
  display: none;
}
.customForm .toggle-box #toggle-checkbox-input:checked + .toggle-checkbox {
  background-color: #5843e5;
  border-color: #5843e5;
}
.customForm .toggle-box #toggle-checkbox-input:checked + .toggle-checkbox > .circle {
  transform: translateX(50px);
  transition: transform 0.25s ease;
}
.customForm .toggle-box .toggle-checkbox {
  display: block;
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(128, 128, 128, 0.568);
  padding: 5px;
  transition: background-color 0.25s ease;
}
.customForm .toggle-box .toggle-checkbox .circle {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid rgba(128, 128, 128, 0.568);
  background-color: #ffffff;
  transition: all 0.25s ease;
}
.customForm .dropdown {
  width: 100%;
  max-width: 340px;
  position: relative;
}
.customForm .dropdown:hover .dropdown__list {
  opacity: 1;
  visibility: visible;
}
.customForm .dropdown__select {
  cursor: pointer;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: gray;
}
.customForm .dropdown__select:hover {
  border-color: #7e71d6;
  box-shadow: 0 0 0 3px #9489da36;
  border-width: 2px;
  padding: 19px;
}
.customForm .dropdown__list {
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  top: calc(100% + 12px);
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s ease;
}
.customForm .dropdown__list:hover {
  box-shadow: rgba(215, 215, 215, 0.5) 0px 4px 16px;
}
.customForm .dropdown__list::after {
  content: "";
  width: 100%;
  height: 13px;
  position: absolute;
  background-color: transparent;
  opacity: 0;
  top: 0;
  left: 0;
  transform: translateY(-100%);
}
.customForm .dropdown__item {
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
}
.customForm .dropdown__item:hover {
  border-radius: 5px;
  background-color: #e9eafc;
  color: #7e71d6;
  transition: all 0.1s ease;
}

/*# sourceMappingURL=style.css.map */
